Московский Авиационный Институт  
                                  (Национальный Исследовательский Университет)  



Кафедра 806 «Вычислительная математика и программирование»  
Институт: «Информационные технологии и прикладная математика»  
Дисциплина: «Разработка ПО для высокопроизводительных систем»        



                                        -------------------------------
                                        Лабораторная работа по pandas №1  
                                        -------------------------------    



                                                                            Группа: М8О-103М-20  
                                                                            Студент: Галюгин Алексей Дмитриевич  
                                                                            Преподаватель: Поповкин Александр Викторович  



                                                 Москва, 2020

Импортировать модули sys numpy pandas

In [2]:
import sys
import numpy as np
import pandas as pd

Создать объект pandas Series из листа, объекта NumPy, и словаря

In [15]:
x=list('fghfgh')
y=np.arange(5)
z={}
z={'x': 1, 'y': 2,'z': 3}
objx=pd.Series(x)
objy=pd.Series(y)
objz=pd.Series(z)
print(objx)
print(objy)
print(objz)

0    f
1    g
2    h
3    f
4    g
5    h
dtype: object
0    0
1    1
2    2
3    3
4    4
dtype: int32
x    1
y    2
z    3
dtype: int64

Преобразовать объект Series в DataFrame

создать объект Series

In [18]:
z={'a': 1, 'b': 2,'c': 3,'d': 4, 'e': 5}
objz=pd.Series(z)

преобразовать в DataFrame

In [16]:
frame=pd.DataFrame(objz)

объединить несколько объектов Series в Dataframe

In [19]:
i={'f': 6, 'g': 7,'h': 8,'k': 9, 'l': 10}
obji=pd.Series(i)
frame=pd.concat((objz,obji), axis=0)
print(frame)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
k     9
l    10
dtype: int64

Присвоить имя индексу объекта Series

In [23]:
z={'x': 1, 'y': 2,'z': 3}
obj=pd.Series(z)
obj.name='obiekt'
print(obj)

x    1
y    2
z    3
Name: obiekt, dtype: int64

Получить элементы объекта Series A, которых нет в объекте Series B с индексами

In [7]:
SeriesA=pd.Series(np.arange(13))
SeriesB=pd.Series(np.arange(11))
x=SeriesA[~SeriesA.isin(SeriesB)]
print(x)

11    11
12    12
dtype: int32

без индексов

In [33]:
y=np.setdiff1d(SeriesA,SeriesB)
print(y)

[11 12]

Получить не пересекающиеся элементы в двух объектах Series

возвратить вместе с индексами

In [64]:
SeriesA=pd.Series([6,5,9,7,12])
SeriesB=pd.Series([4,3,14,78,2,6,8])
x=pd.concat((SeriesA[~SeriesA.isin(SeriesB)],SeriesB[~SeriesB.isin(SeriesA)]))
print(x)

1     5
2     9
3     7
4    12
0     4
1     3
2    14
3    78
4     2
6     8
dtype: int64

получить объединенный Series без повтороений

In [65]:
y=pd.Series(np.union1d(SeriesA,SeriesB))
print(y)

0      2
1      3
2      4
3      5
4      6
5      7
6      8
7      9
8     12
9     14
10    78
dtype: int64

получить пересекающиеся данные

In [66]:
z=pd.Series(np.intersect1d(SeriesA,SeriesB))
print(z)

0    6
dtype: int64

отобрать все данные, кроме пересекающихся

In [67]:
y=pd.Series(np.union1d(SeriesA,SeriesB))
print(y)

0      2
1      3
2      4
3      5
4      6
5      7
6      8
7      9
8     12
9     14
10    78
dtype: int64

возвратить значения

In [68]:
y=np.setxor1d(SeriesA,SeriesB)
print(y)

[ 2  3  4  5  7  8  9 12 14 78]